* {
    box-sizing: border-box;
  }

.logo {
    display: block;
    margin: auto;
  }

  h1 {
      font-family: "Arial Black";
      font-size:  54px;
      text-align: center;
      margin-bottom: 0%;
  }

  p {
    font-family: "Red Hat Display Medium";
    font-size:  16px;
    color: grey;
    text-align: center;
  }

  .button1 {
    background-color: #4D96A9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  .button1:hover {
    background-color: #8FE3F9;
    color: black;
  }

  .button2 {
    background-color: #855FB1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }

  .button2:hover {
    background-color: #D9B8FF;
    color: black;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .gallary{
      width: 13%;
      margin-right: 25px;
      border-radius: 15px;
    
  }

  .gallary1{
    width: 13%;
    margin-top: 150px;
    margin-left: 250px;
    border-radius: 15px;
}

.gallary2{
    width: 13%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
}

h3 {
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
    color: #4D96A9;
}
  
h2 {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: bold;
}